extends ./layaut/layaut
block content 
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum vel urna eu auctor. Sed sit amet nisi vitae eros 

                p  bibendum dignissim felis, vitae varius neque placerat in. Donec ultrices lorem vulputate, euismod diam sit amet, posuere lacus. Maecenas eget eros ultricies, posuere ex 

                p facilisis faucibus augue quis feugiat. Aenean sagittis urna ante, nec iaculis ipsum efficitur quis. Maecenas accumsan molestie sem vel efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra,

    .listado-iconos
         .container.mt-5.py-5.text-center 
             .row 
                 .col-md-4 
                        img(src="img/icono_seguridad.svg", alt="icono seguridad")
                        h2.mb-4 Seguridad
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsum laborum quidem atque sint vitae tenetur sit
                 .col-md-4 
                        img(src="img/icono_destinos.svg", alt="icono destinos")
                        h2.mb-4 Mejores Destinos
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsum laborum quidem atque sint vitae tenetur sit
                 .col-md-4 
                        img(src="img/icono_precios.svg", alt="icono precios")
                        h2.mb-4  Mejores Precios
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsum laborum quidem atque sint vitae tenetur sit
                 